{% include "parts/commons/header.njk" %}

{% include "parts/commons/contextual-title.njk" %}

{% include "parts/commons/page-content.njk" %}

{% include "parts/specifics/books-list.njk" %}

{% include "parts/commons/footer.njk" %}