{# Pagination filters come from /tags/file.md #}
{% include "parts/commons/header.njk" %}

{% include "parts/commons/contextual-title.njk" %}

{% include "parts/specifics/articles-list.njk" %}

{% include "parts/commons/pagination.njk" %}

{% include "parts/commons/footer.njk" %}